.Clock {
  text-align: center;
  width: 80vmin;
  height: 80vmin;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white;
  border-radius: 100%; */
  position: relative;
}

.Clock .Hours {
  color: white;
  font-size: 25vmin;
  letter-spacing: 2px;
}

.Clock .Minutes {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 100%;
  display: block;
  position: absolute;
}