body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', 'Source Sans Pro', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  font-weight: 100;
  overflow: hidden;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button:focus {outline:0;}
